{% block header %}
<h2>Download Virtual Image<h2>
{% endblock %}

{% block content %}
<p class="lead">Download a pre-installed Virtual Box Image</p>

<h2>How to Install</h2>

<p>You will need Oracle's Virtual Box to use the image:</p>
<ul>
    <li><a href="https://www.virtualbox.org/">https://www.virtualbox.org/</a>
    </li>
</ul>
<p>Import the .ova file into VirtualBox. Though the default settings of the appliance should be good enough for most users, you may need to change them if you face performace issues.</p>
<p>The virtual appliance uses Debian GNU/Linux 7.</p>
<p>The credentials of the virtual image are:</p>
<ul>
    <li>username: erpnext</li>
    <li>password: erpnext</li>
    <li>mysql root password: erpnext</li>
    <li>erpnext database name: erpnext</li>
    <li>erpnext database password: erpnext</li>
</ul>
<p>Once the Virtual Machine boots, use your HOST operating system's browser and go to:</p>
<ul>
    <li>http://localhost:8080</li>
</ul>
<p>and login using:</p>
<ul>
    <li>user: Administrator</li>
    <li>password: admin</li>
</ul>

<h2>Download Image</h2>

<p><a href="https://erpnext.com/downloads/ERPNext190614.ova">https://erpnext.com/downloads/ERPNext190614.ova</a> (859 MB, MD5 Checksum - dde14e402853b04786e55939b7e78e52)</p>
<p>Created on 7th May, 2014.</p>

<hr>
<p>Having trouble with the Virtual Image? Raise your issues at  <a href="https://groups.google.com/group/erpnext-developer-forum" target="_blank"> https://groups.google.com/group/erpnext-developer-forum</a>
</p>
<p>Or if you have a functional issue, raise it at  <a href="https://groups.google.com/group/erpnext-user-forum" target="_blank"> https://groups.google.com/group/erpnext-user-forum</a>
</p>
<hr>
<h3>Manual Install?</h3>
<p>Use <a href="https://github.com/frappe/frappe-bench">Frappe Bench</a>
</p>
</div>
{% endblock %}
