{% block banner_html %}
<a href="https://github.com/frappe/erpnext"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
{% endblock %}

{% block header %}
<div class="overlay">
	<h1><i class="icon-bolt"></i> ERPNext 4 is Here</h1>
	<h3>Open Source ERP Built For The Web</h3>
</div>
<img src="/assets/erpnext_org/images/coverdesk.png" style="margin-bottom: -250px; margin-top: 30px">
{% endblock %}

{% block content %}
<!-- no-sidebar -->
<div class="spacer" style="height: 160px"></div>
<br>
<div style="max-width: 500px; margin: 0px auto">
	<h3><i class="icon-heart"></i> Loved by Users</h3>
	<p>People who use ERPNext, swear by it. No fancy sales people, no glitzy presentations, but finally a software for SMBs that just works at prices that you can afford. Sample what our users are saying, "I have been following ERPNext for more than an year now and truly amazed by your team's perseverance on delivering a high quality open source ERP product". <a href="https://frappe.io/apps/erpnext/testimonials">Read more testimonials</a>
	</p>
	<br>
	<h3><i class="icon-th"></i> All in One</h3>
	<p>ERPNext covers most functionality required to run a small or medium sized business in <b>Manfacturing, Retail, Distribution or Services</b> including Financial Accounting, Inventory, CRM and Sales, Purchasing, Human Resource, Projects and a lot more. <a href="https://frappe.io/apps/erpnext/user-guide">Read the user guide for full details</a>
	</p>

	<br>
	<h3><i class="icon-linux"></i> Open Source</h3>
	<p>With ERPNext you have "full freedom" to do what you want with it. You can host it on your own and customize it to your requirements. ERPNext is built on a powerful web application framework based on Python and Javascript, Frappe. With Frappe, you can easily extend ERPNext by using the API or creating fully featured extensions (called apps) implementing custom functionality for your business.
		<br>Did we mention its all free?
	</p>

</div>
<br>
<div class="text-center">
	<a href="https://demo.frappecloud.com" class="btn btn-success btn-lg">Play with the Demo</a>
	<a href="https://frappecloud.com" class="btn btn-success btn-lg">Start Now</a>
</div>
<br>
<p class="text-center">
	<a href="http://www.infoworld.com/slideshow/119652/bossie-awards-2013-the-best-open-source-applications-226975#slide15" target="_blank">
		<i class="icon-trophy"></i> Winner of the 2013 BOSSIE (Best Open Source Software) Award by InfoWorld Magazine</a></p>
<br>

{% endblock %}

{% block style %}
<style>
.page-header {
	padding: 80px 0px;
	text-align: center;
}
</style>
{% endblock %}
