{% block header %}
<h2>Start Using ERPNext</h2>
{% endblock %}

{% block content %}
<p class="lead">There are more than one ways of starting ERPNext</p>

<h4>Take a Free 30 Day Trial on FrappeCloud.com</h4>
<p>FrappeCloud is the official hosting service brought to you by the team that has developed ERPNext and is used by hundreds of companies since 2010.</p>
<p><a class="btn btn-success" href="https://frappecloud.com">
	<i class="icon-cloud"></i> See Plans and Pricing</a></p>

<br>
<h4>Download and Use it on a Pre-installed Virtual Machine</h4>
<p>You can also download and use and pre-installed Virtual Image for Oracle Virtual Box (a free virtual machine tool). You will have to download Oracle Virtual Box and this runs on almost any platform.</p>
<p><a href="/download" class="btn btn-success">
	<i class="icon-download"></i> Download Vitual Image</a></p>

<br>
<h4>Install on a Linux / Unix / MacOS system with Frappe Bench</h4>
<p>If you have a bit of technical skills, you can install it on your machine / server using Frappe Bench, a tool that will help you to develop applications on Frappe / ERPnext and also has settings for a production environment.</p>
<p><a href="https://github.com/frappe/frappe-bench" class="btn btn-success">
	<i class="icon-github"></i> Read the Instructions</a></p>


{% endblock %}
